:root {
  --fg: #1a1a1a;
  --muted: #6b6b6b;
  //--muted: hotpink;
  --line: #e6e6e6;
}

.bg-black{background: #232E34;}
.bg-navy{background: #0F1F2E;}
.bg-white{background: #FFFFFF;}
.bg-green{background: #146F44;}
.bg-yellow{background: #F9DA65;}
.bg-skyblue{background: #149C8B;}
.bg-turquoise{background: #7897AB;}
.bg-red{background: #A22135;}
.bg-pink{background: #E7C3C5;}
.bg-beige{background: #D8C2B7;}
.bg-lightBrown{background: #A46A47;}
.bg-darkBrown{background: #50352A;}
.bg-tan{background: #A49B94;}

.cl-black{color: #232E34;}
.cl-navy{color: #0F1F2E;}
.cl-white{color: #FFFFFF;}
.cl-green{color: #146F44;}
.cl-yellow{color: #F9DA65;}
.cl-skyblue{color: #149C8B;}
.cl-turquoise{color: #7897AB;}
.cl-red{color: #A22135;}
.cl-pink{color: #E7C3C5;}
.cl-beige{color: #D8C2B7;}
.cl-lightBrown{color: #A46A47;}
.cl-darkBrown{color: #50352A;}
.cl-tan{color: #A49B94;}

$dbd-black:       #232E34;
$dbd-navy:        #0F1F2E;
$dbd-white:       #FFFFFF;
$dbd-green:       #146F44;
$dbd-yellow:      #F9DA65;
$dbd-skyblue:     #149C8B;
$dbd-turquoise:   #7897AB;
$dbd-red:         #A22135;
$dbd-pink:        #E7C3C5;
$dbd-beige:       #D8C2B7;
$dbd-lightBrown:  #A46A47;
$dbd-darkBrown:   #50352A;
$dbd-tan:         #A49B94;