 <div id="footer">
     
     <div class="inner">
  
        <div module="Layout_footer">
            <!--@css(/css/module/layout/footer.css)-->
         
        
            <p class="address">
                <span>COMPANY : {$company_name} </span> <span>CEO : {$president_name}</span>  <br> <span>COMPANY_REGNO : [{$company_regno}]</span> <span>NETWORK_REGNO {$network_regno}</span> <span>{$biz_no_link}</span> <br>
                <span>TEL: {$phone}</span> <span>ADD : {$mall_zipcode} {$mall_addr1} {$mall_addr2}</span> 
                <span>CPO: <a href="mailto:{$cpo_email}">{$cpo_name}({$cpo_email})</a></span> <br>
                <span>Contact <strong><a href="mailto:{$email}">{$email}</a></strong> for more information.</span><br><br> 
            </p>
            
               <ul class="utilMenu">
                <li class="home"><a href="/index.html">HOME</a></li>
                <li><a href="/shopinfo/company.html">COMPANY</a></li>
                <li><a href="/member/agreement.html">AGREEMENT</a></li>
                <li><a href="/member/privacy.html">PRIVACY</a></li>
                <li><a href="/shopinfo/guide.html">GUIDE</a></li>
            </ul>
            
   
            
            
        </div>
     
   <div class="wrap_default">
  <!-- 맨 위로 버튼 시작 { -->
  <!--@js(/layout/basic/js/on_top.js)-->
  <a href="#none" id="on_top" style="display:none"><img src="/web/upload/new/topbutton.png" alt="맨 위로"  width="30px"  /></a>
  <!-- } 맨 위로 버튼 끝 -->
</div>   
     
    </div>
        </div>